<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="text-align:center">

  User name : <input name="userName" #userName>
  Nome: <input name="nome" #nome>
  Cognome: <input name="cognome" #cognome>
  Email: <input name="email" #email>
  <button (click) ="insertNewUser(userName,nome,cognome,email)" > Add </button>
</div>

<ul>
  <li>
  <div style="text-align:center" name="result" >
  <userShow *ngFor = "let user of users" [user] = "user" ></userShow>
  </div>
  </li>
</ul>

